* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", sans-serif; 
  background-color: #ffffff;
  color: #111111;

  -webkit-font-smoothing: antialiased; 
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}
